.container {
  width: 1100px;
  margin: 0 auto;
}

.divHead {
  background-color: rgb(124, 165, 255);
  padding: 15px 0;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexItemLogo {
  display: block;
}

.img {
  width: 50px;
  cursor: pointer;
}

.flexItemNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  list-style: none;
  width: 600px;
}

.li {
  cursor: pointer;
}
