.post {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid mediumseagreen;
  margin: 20px auto;
  padding: 10px 15px;
}

.post p {
  font-size: 25px;
}
